<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#00c900">
    <meta name="theme-color" content="#00c900">
    <link href="https://social.vivaldi.net/@codymkw" rel="me">
    <meta name="description" content="Animal Crossing: New Horizons lost item hints by personality type.">
    <meta name="keywords" content="Animal Crossing, ACNH, Lost Item, Villager Personality, Nintendo Switch">
    <meta name="author" content="CodyMKW">
    <meta property="og:title" content="ACNH Lost Item Hints - CodyMKW">
    <meta property="og:description" content="Hints for returning lost items to villagers in Animal Crossing: New Horizons.">
    <meta property="og:image" content="https://www.gravatar.com/avatar/5127de8a3a295a02ff3fc55bb6b2fabe?s=2048">
    <meta property="og:url" content="https://codymkw.github.io">
    <meta property="og:type" content="website">
    <meta name="twitter:creator" content="@CodyMKW" />
    <meta name="twitter:title" content="ACNH Lost Item Hints - CodyMKW" />
    <meta name="twitter:description" content="Hints for returning lost items to villagers in Animal Crossing: New Horizons." />
    <meta name="twitter:image:src" content="https://www.gravatar.com/avatar/5127de8a3a295a02ff3fc55bb6b2fabe?s=2048" />
    <link id="theme-style" rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/emoji.css">
    <script defer src="assets/javascript/main.js"></script>
    <script defer src="assets/javascript/stickyheader.js"></script>
    <title>ACNH Lost Item Hints - CodyMKW</title>
</head>

<body>
    <div id="sticky-header" class="sticky-header" style="display: none;">
        <span id="close-button" onclick="toggleHeader()">X</span>
        <a href="" target="_blank" class="important"></a>
    </div>
    <div class="container">
        {% include header.html %}

        <div class="content" id="acnhLostItemContent">
            <h2>ACNH Lost Item Hints</h2>

            <table>
                <thead>
                    <tr>
                        <th>Personality</th>
                        <th>Book</th>
                        <th>Planner</th>
                        <th>Pouch (1)</th>
                        <th>Pouch (2)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Personality">Big sister</td>
                        <td data-label="Book">A book with pressed flowers inside. OH! It still has the price sticker on it!</td>
                        <td data-label="Planner">This looks like somebody's notebook. The handwriting is mostly illegible, but I can make out the word "Band."</td>
                        <td data-label="Pouch (1)">A stylish bag adorned with gold metal spikes. It's got attitude!</td>
                        <td data-label="Pouch (2)">The front of the bag has embroidered lettering in gold thread. The words are... "Bikers Are More Fun."</td>
                    </tr>
                    <tr>
                        <td data-label="Personality">Cranky</td>
                        <td data-label="Book">There are lot of pictures of potted trees inside. It looks like an introduction guide to bonsai trees.</td>
                        <td data-label="Planner">An old planner that's seen plenty of wear and tear. The last page has tally marks... They are up to 12 now.</td>
                        <td data-label="Pouch (1)">A sturdy, old fashioned sort of bag. It gets full points for utility and points for style.</td>
                        <td data-label="Pouch (2)">This classic pouch was built with functionality in mind, nothing more. It's the work of a craftsman. Maybe.</td>
                    </tr>
                    <tr>
                        <td data-label="Personality">Jock</td>
                        <td data-label="Book">This book is hard to read. The pages are warped, like they've gotten wet before. I think it's an exercise book.</td>
                        <td data-label="Planner">Somebody scribbled something on the cover in pencil. Looks like it reads, "Xtreme exercises"?</td>
                        <td data-label="Pouch (1)">A very simple bag... that's a tad open. I spot some gym clothes, I think.</td>
                        <td data-label="Pouch (2)">A dusty, well-used bag. It vaguely smells like those minty sports creams that athletes use.</td>
                    </tr>
                    <tr>
                        <td data-label="Personality">Lazy</td>
                        <td data-label="Book">A well used, well loved picture book. There are little broken bits of candy between the pages...</td>
                        <td data-label="Planner">This looks like someone's diary. Is this stain from drool? Maybe they fell asleep on it while writing.</td>
                        <td data-label="Pouch (1)">This pouch is stuffed with something that smells delicious and is probably full of sugar.</td>
                        <td data-label="Pouch (2)">This pouch looks like it's starting to tear in places. It's a little sticky too. Did someone spill juice on it?</td>
                    </tr>
                    <tr>
                        <td data-label="Personality">Normal</td>
                        <td data-label="Book">This novel looks really difficult. It's the kind of book only a voracious reader would think to pick up.</td>
                        <td data-label="Planner">It reads "My journal" in tiny letters on the cover. It's hard not to, but I probably shouldn't peek inside.</td>
                        <td data-label="Pouch (1)">An adorable handcrafted bag with something hard and rectangular inside. Maybe it's a book?</td>
                        <td data-label="Pouch (2)">A bag with a simple design. I can tell it was painstakingly made by hand.</td>
                    </tr>
                    <tr>
                        <td data-label="Personality">Peppy</td>
                        <td data-label="Book">It's a comic. There's a girl with big, sparkling eyes on the cover. She's probably the hero.</td>
                        <td data-label="Planner">It's an autograph book, but it's covered with all kinds of sparkly stickers. It's making my eyes hurt.</td>
                        <td data-label="Pouch (1)">A bag made from a soft printed fabric featuring cartoon characters. It's all lumpy from being packed too full.</td>
                        <td data-label="Pouch (2)">A snappy bag covered with buttons and pins of different pop stars.</td>
                    </tr>
                    <tr>
                        <td data-label="Personality">Smug</td>
                        <td data-label="Book">It's a novel. The author was obviously trying to be fancy by using lots of foreign words. I don't get it.</td>
                        <td data-label="Planner">The cover of the book says "Mi diario secreto." I get the feeling I shouldn't look inside.</td>
                        <td data-label="Pouch (1)">It's a stylish bag. The complex design says more about style than it does about function.</td>
                        <td data-label="Pouch (2)">A stylish bag that looks like it could be popular. Whether it actually is popular might depend on the owner...</td>
                    </tr>
                    <tr>
                        <td data-label="Personality">Snooty</td>
                        <td data-label="Book">It's one of those love stories that are so popular nowadays. It has a subtle aroma too. Or is that my imagination?</td>
                        <td data-label="Planner">I think it's a personal planner. Every line is filled in with precise, perfect handwriting. Err... I should close this.</td>
                        <td data-label="Pouch (1)">Maybe this is someone's makeup bag? It smells like lovely perfume.</td>
                        <td data-label="Pouch (2)">A pretty bag that's been well-loved. It looks like it's been customized a number of times.</td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>

    {% include footer.html %}
</body>

</html>