<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#00c900">
    <meta name="theme-color" content="#00c900">
    <link href="https://social.vivaldi.net/@codymkw" rel="me">
    <meta name="description" content="Check out pointless stuff like my randomizer for Mario Kart 8 Deluxe and Splatoon 3!">
    <meta name="keywords" content="Mario Kart 8 Deluxe randomizer, Splatoon 3 gear randomizer, Nintendo Switch Friend Code, real-time game status, Miiverse archive, multi-stream Twitch viewer, Splatfest profile frames, Animal Crossing Dream Address, AniList anime tracker, Last.fm music status, ACNH lost item guide, xat chatroom, CodyMKW tools, web apps for gamers">
    <meta name="author" content="CodyMKW">
    <meta property="og:title" content="Other Stuff - CodyMKW">
    <meta property="og:description" content="Check out pointless stuff like my randomizer for Mario Kart 8 Deluxe and Splatoon 3!">
    <meta property="og:image" content="https://www.gravatar.com/avatar/5127de8a3a295a02ff3fc55bb6b2fabe?s=2048">
    <meta property="og:url" content="https://codymkw.github.io">
    <meta property="og:type" content="website">
    <meta name="twitter:creator" content="@CodyMKW" />
    <meta name="twitter:title" content="Other Stuff - CodyMKW" />
    <meta name="twitter:description" content="Check out pointless stuff like my randomizer for Mario Kart 8 Deluxe and Splatoon 3!" />
    <meta name="twitter:image:src" content="https://www.gravatar.com/avatar/5127de8a3a295a02ff3fc55bb6b2fabe?s=2048" />
    <link id="theme-style" rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/emoji.css">
    <script defer src="assets/javascript/main.js"></script>
    <script defer src="assets/javascript/stickyheader.js"></script>
    <title>Other Stuff - CodyMKW</title>
</head>

<body>
    <div id="sticky-header" class="sticky-header" style="display: none;">
        <span id="close-button" onclick="toggleHeader()">X</span>
        <a href="" target="_blank" class="important"></a>
    </div>
    <div class="container">
        {% include header.html %}
        <div class="content" id="OtherStuffContent">
            <h2><i class="emoji peepoNerd"></i></h2>
            <h2>Other Stuff</h2>
            <p>
                Below is just a few pointless stuff you can check out if you want!
            </p>
            <div class="otherstuff-grid">
                <a href="/mk8" class="stuff-card">
                    <h3>Mario Kart 8 Deluxe Randomizer</h3>
                    <p>Mix up your racing experience!</p>
                </a>
                <a href="/splat3" class="stuff-card">
                    <h3>Splatoon 3 Randomizer</h3>
                    <p>Random gear, chaos, and fun!</p>
                </a>
                <a href="/friend-code" class="stuff-card">
                    <h3>Friend Code</h3>
                    <p>Add me and let’s play!</p>
                </a>
                <a href="/game-status" class="stuff-card">
                    <h3>Game Status</h3>
                    <p>Check what I'm playing on Switch in realtime!</p>
                </a>
                <a href="https://codymkw.github.io/my-stuff/miiverse" target="_blank" class="stuff-card">
                    <h3>Miiverse Archive</h3>
                    <p>Archive of my Miiverse profile!</p>
                </a>
                <a href="/twitch" class="stuff-card">
                    <h3>Twitch Viewer</h3>
                    <p>Watch multiple twitch streams on one page!</p>
                </a>
                <a href="/youtube" class="stuff-card">
                    <h3>YouTube Viewer</h3>
                    <p>Watch multiple youtube videos on one page!</p>
                </a>
                <a href="/splatfest-frames" class="stuff-card">
                    <h3>Splatfest Frames</h3>
                    <p>Add a splatfest frame to your PFP!</p>
                </a>
                <a href="/dream-address" class="stuff-card">
                    <h3>Dream Address</h3>
                    <p>Visit my ACNH island in a dream!</p>
                </a>
                <a href="/buttons" class="stuff-card">
                    <h3>Site Buttons</h3>
                    <p>Collections of other webpage's buttons and my own!</p>
                </a>
                <a href="/anime" class="stuff-card">
                    <h3>Anime List</h3>
                    <p>Browse all the anime I’m watching or rewatching, updated automatically from AniList.</p>
                </a>
                <a href="/music-status" class="stuff-card">
                    <h3>Listening Status</h3>
                    <p>Check what I'm listening to on Last.fm in realtime!</p>
                </a>
                <a href="/countdown" class="stuff-card">
                    <h3>Countdown</h3>
                    <p>A countdown for hyping up upcoming events like game releases and anime debuts.</p>
                </a>
                <a href="/ac-lost-item" class="stuff-card">
                    <h3>ACNH Lost Item Hints</h3>
                    <p>Hints for returning lost items to villagers in Animal Crossing: New Horizons.</p>
                </a>
                <a href="/chat" class="stuff-card">
                    <h3>Chat</h3>
                    <p>A Wii-era xat chatroom that still functions today — a nostalgic piece of early internet history.</p>
                </a>
            </div>
             <br>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>
