body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 20px;
}

body::before {
  content: "";
  background-image: url(bg.gif);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(7px);
  z-index: -1;
}

a {
  color: #0d8100;
}

a:hover {
  color: #095a00;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.content {
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;  /* Allow buttons to wrap on smaller screens */
}

button {
  background-color: #0d8100;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;  /* Add margin to separate the buttons */
  flex: 1;  /* Make buttons flexible to use available space */
}

button:hover {
  background-color: #095a00;
}

.tabContent {
  display: none;
}

.tabContent h2 {
  margin-top: 0;
}

.tabContent p {
  margin-bottom: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header img {
  width: 200px; /* Adjust the width as needed */
  border-radius: 50%;
}

.header-text h1 {
  margin: 10px 0 5px;
}

.header-text p {
  margin: 0;
  font-size: 14px;
}

/* 404 Page styles */
#notfound {
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

img.notfoundimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1.notfoundheading {
  text-align: center;
}

/* About styles */
#aboutContent {
  display: block;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
}

#aboutContent h2 {
  text-align: center;
}

#aboutContent p, h2 {
  color: #fff;
}

/* Switch FC styles */
#friendCodeContent {
  display: none;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#friendCodeContent p, h2 {
  color: #fff;
  margin-bottom: 10px;
}

#friendCodeContent img {
  max-width: 350px;
  max-height: 250px;
  margin-bottom: 20px;
  border-radius: 4px;
}

#friendCodeContent b:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Social Media styles */
#socialMediaContent {
  display: none;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#socialMediaContent p, h2 {
  color: #fff;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.social-icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Nintendo News styles */
#nintendoNewsContent {
  display: none;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
}

#nintendoNewsContent h3 {
  display: none;
}

#nintendoNewsContent h4 {
  color: #0d8100;
  font-size: 24px;
  margin-bottom: 10px;
}

#nintendoNewsContent p {
  margin-bottom: 10px;
  color: #fff;
}

#nintendoNewsContent a {
  color: #0d8100 !important;
}

#nintendoNewsContent a:hover {
  color: #095a00 !important;
}

/* Most Played Games styles */
#mostPlayedGamesContent {
  display: none;
  margin-top: 40px;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#mostPlayedGamesContent h2 {
  color: #0d8100;
  font-size: 24px;
  margin-bottom: 10px;
}

#games-table {
  width: 100%;
  border-collapse: collapse;
}

#games-table th,
#games-table td {
  padding: 8px;
  border: 1px solid #000;
  text-align: center;
}

#games-table th {
  background-color: #0d8100;
  color: #fff;
}

#games-table td {
  background-color: #222;
  color: #fff;
}

#games-table tr:nth-child(even) {
  background-color: #333;
}

#games-table tr:hover {
  background-color: #444;
}

#games-table a {
  color: #0d8100;
  text-decoration: none;
  font-weight: bold;
}

#games-table a:hover {
  color: #095a00;
  text-decoration: underline;
}

.playtime-note {
  color: #888;
  font-size: 14px;
  margin-top: 10px;
}

.game-cover {
  max-width: 70px;
  max-height: 114px;
  margin-right: 10px;
  border-radius: 4px;
}

/* Web Apps styles */
#webAppsContent {
  display: none;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#webAppsContent p, h2 {
  color: #fff;
}

footer {
  background-color: #111;
  padding: 10px;
  font-size: medium;
  text-align: center;
  color: #888;
}

/* Birthday shimmer */
.shimmer {
  color: rgba(13, 129, 0, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
}

@-moz-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}