body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #FFF;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

h1 {
  color: #0d8100;
  font-size: 30px;
  margin-bottom: 20px;
}

a {
  color: #0d8100;
}

a:hover {
  color: #095a00;
}

img {
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

footer {
  background-color: #111;
  padding: 10px;
  text-align: center;
  color: #888;
}

/* Button styles */
.button-container {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-container button {
  background-color: #0d8100;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #095a00;
}

/* Content styles */
#about,
#switchfc,
#webapps,
#socialmedia {
  display: none;
}

#about {
  display: block;
}

/* Social Media styles */
#socialmedia {
  display: none;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.social-icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Birthday sparkle */
@keyframes sparkle {
  0%, 100% {
    color: #0d8100;
    text-shadow: none;
  }
  50% {
    color: yellow;
    text-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow, 0 0 20px orange, 0 0 25px orange, 0 0 30px orange, 0 0 35px orange;
  }
}

.sparkle-effect {
  animation: sparkle 1s infinite;
}

/* Secret theme styles */
.alizarin-crimson {
  background-color: #E32636;
  color: #FFFFFF;
}
.absolute-zero {
  background-color: #0048BA;
  color: #FFFFFF;
}
.amethyst {
  background-color: #9966CC;
  color: #FFFFFF;
}
.baby-pink {
  background-color: #F4C2C2;
  color: #000000;
}
.aquamarine {
  background-color: #7FFFD4;
  color: #000000;
}
.arylide-yellow {
  background-color: #E9D66B;
  color: #000000;
}
.orange {
  background-color: #FFA500;
  color: #FFFFFF;
}
