body {
  background-image: url('https://codymkw.github.io/splat3/assets/splat-wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: yellow;
}

a:hover {
  color: #7a7a01;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ccc;
  text-align: center;
}

.chat-container {
  position: relative;
  width: 100%;
  height: 486px;
  max-width: 728px;
  max-height: 486px;
}

.chat-frame {
  display: block;
  width: 100%;
  height: 486px;
  max-width: 728px;
  max-height: 486px;
}

#chat-warning {
  display: none;
  color: #ccc;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

#chat-warning p {
  text-align: justify;
}

.rules {
  margin-top: 20px;
  color: #ccc;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.rules h2 {
  margin-bottom: 10px;
}

.rules ul {
  list-style-type: disc;
  padding-left: 20px;
}

.rules li {
  margin-bottom: 10px;
  text-align: left;
}

/* Change cursor to an image */
body {
  cursor: url('https://codymkw.github.io/splat3/assets/inkling.png'), auto;
}

#chat-warning {
  display: none;
  color: #ccc;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  margin: 200px auto;
}

p {
  text-align: center;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #7289DA;
}

footer {
  color: #DCDDDE;
}

.footer p {
  margin: 0;
  color: #DCDDDE;
}