body {
  background-image: url('https://codymkw.github.io/splat3/assets/splat-wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: yellow;
}

a:hover {
  color: #7a7a01;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ccc;
  text-align: center;
  position: relative;
}

.left-image,
.right-image {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  /* Add any additional styling for the side images */
}

@media screen and (min-width: 729px) {
  .chat-container {
    /* Adjust the max-width to make space for the side images */
    max-width: 600px;
    margin: 0 auto;
  }

  .left-image {
    display: block;
    left: 0;
    /* Adjust the path to your left image */
    background-image: url('https://placehold.co/300x500/000000/016301/png');
  }

  .right-image {
    display: block;
    right: 0;
    /* Adjust the path to your right image */
    background-image: url('https://placehold.co/300x500/000000/016301/png');
  }
}

.chat-container {
  position: relative;
  width: 100%;
  height: 486px;
  max-width: 728px;
  max-height: 486px;
}

.chat-frame {
  display: block;
  width: 100%;
  height: 486px;
  max-width: 728px;
  max-height: 486px;
}

#chat-warning {
  display: none;
  color: #ccc;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

#chat-warning p {
  text-align: initial;
}

.rules {
  margin-top: 20px;
  color: #ccc;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.rules h2 {
  margin-bottom: 10px;
}

.rules ul {
  list-style-type: disc;
  padding-left: 20px;
}

.rules li {
  margin-bottom: 10px;
  text-align: left;
}

/* Change cursor to an image */
body {
  cursor: url('https://codymkw.github.io/splat3/assets/inkling.png'), auto;
}

#chat-warning {
  display: none;
  color: #ccc;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  margin: 120px auto;
}

p {
  text-align: center;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #7289DA;
}

footer {
  color: #DCDDDE;
  text-align: center;
}

.footer p {
  margin: 0;
  color: #DCDDDE;
}