body {
  background-image: url('https://codymkw.github.io/splat3/assets/splat-wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: yellow;
}

a:hover {
  color: #7a7a01;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ccc;
  text-align: center;
  position: relative; /* Add position relative */
}

.side-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 200px; /* Adjust height as needed */
  width: auto; /* Adjust width as needed */
  z-index: 1;
}

.side-image.left {
  left: 0;
  background-image: url('https://place-hold.it/300x500'); /* Replace with the path to your left image */
  background-repeat: no-repeat;
  background-size: cover;
}

.side-image.right {
  right: 0;
  background-image: url('https://place-hold.it/300x500'); /* Replace with the path to your right image */
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 728px) {
  .side-image {
    display: none; /* Hide side images on smaller screens */
  }
}

.chat-container {
  position: relative;
  width: 100%;
  height: 486px;
  max-width: 728px;
  max-height: 486px;
}

.chat-frame {
  display: block;
  width: 100%;
  height: 486px;
  max-width: 728px;
  max-height: 486px;
}

#chat-warning {
  display: none;
  color: #ccc;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

#chat-warning p {
  text-align: initial;
}

.rules {
  margin-top: 20px;
  color: #ccc;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.rules h2 {
  margin-bottom: 10px;
}

.rules ul {
  list-style-type: disc;
  padding-left: 20px;
}

.rules li {
  margin-bottom: 10px;
  text-align: left;
}

/* Change cursor to an image */
body {
  cursor: url('https://codymkw.github.io/splat3/assets/inkling.png'), auto;
}

#chat-warning {
  display: none;
  color: #ccc;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  margin: 120px auto;
}

p {
  text-align: center;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #7289DA;
}

footer {
  color: #DCDDDE;
  text-align: center;
}

.footer p {
  margin: 0;
  color: #DCDDDE;
}