<nav id="my-menu">
  <div>
    <p>{{ site.title }}</p>

    <ul class="pages">
      <li><a href="{{ site.baseurl }}/"><i class="fas fa-home"></i> Home</a></li>
      <li><a href="{{ site.baseurl }}/about"><i class="fas fa-user"></i> About</a></li>
      <li><a href="{{ site.baseurl }}/friend-info"><i class="fas fa-file-alt"></i> Friend Info</a></li>
      <li><a href="https://codycrossing.tumblr.com" target="_blank"><i class="fab fa-tumblr"></i> AC Blog</a></li>
      <li><a href="{{ site.baseurl }}/contact"><i class="fas fa-envelope"></i> Contact</a></li>
      <li><a href="{{ site.baseurl }}/posts"><i class="fas fa-archive"></i> All Posts</a></li>
      <li><a href="{{ site.baseurl }}/search"><i class="fas fa-search"></i> Search</a></li>
    </ul>

    {% include social_links.html %}
  </div>
</nav>
<div class="menu-button" href="#menu"><i class="fas fa-bars"></i></div>
