body {
    color: #FFBF00;
  }
  .allMessages {
     border-radius: 10px;
     font-family: Tahoma, Arial, sans-serif;
     font-size: 10pt;
     width: calc(95% - 20px);
     padding: 10px;
     margin: auto;
     margin-top: 5px;
     position: relative;
     border: solid 1px #000;
  }
   .allMessages:hover {
     border: solid 1px #00ff00;
  }
   .sent {
     border-radius: 5px 5px 0 5px;
     background-color: #333;
     color: #AAA;
  }
   .sent:after {
     content: " ";
     background-color: inherit;
     height: 10px;
     width: 10px;
     position: absolute;
     right: -5px;
     bottom: 5px;
     transform: rotateZ(45deg);
     border-radius: 0 2px 0 0;
  }
   .sent:hover:after {
     content: " ";
     right: -6px;
     bottom: 6px;
     border-right: solid 1px #00ff00;
     border-top: solid 1px #00ff00;
  }
   .recieved:before {
     content: " ";
     background-color: inherit;
     height: 10px;
     width: 10px;
     position: absolute;
     left: -5px;
     bottom: 5px;
     transform: rotateZ(45deg);
     border-radius: 0 0 0 2px;
  }
   .recieved:hover:before {
     content: " ";
     left: -6px;
     bottom: 6px;
     border-left: solid 1px #00ff00;
     border-bottom: solid 1px #00ff00;
  }
   .recieved {
     border-radius: 5px 5px 5px 0;
     background-color: #555;
     color: #e9e9e9;
  }
   blockquote {
     background-color: #777;
     color: #111;
     border-color: #000;
  }
   #background {
     scrollbar-color: #00ff00 #111;
     scrollbar-width: thin;
  }
   #input {
     color: #AAA;
     background: #333;
     border: none;
     outline: none;
  }
   #input:empty::before {
     content: "Send Message [Enter to send]";
     color: #777;
  }
  #emojiTray {
     background-color: #333;
  }
  #emojiTray h3 {
     color: #00ff00;
  }
  .badge {
    display: none;
  }
  .senderInfo:has(.owner):after {
     content: "[Owner]";
     color: red;
     padding-left: 7px;
  }
  .senderInfo:has(.mod):after {
     content: "[Mod]";
     color: #00ff00;
     padding-left: 7px;
  }
   .senderInfo * {
     text-decoration: none;
  }
   .senderInfo {
     font-style: italic;
  }
   #timestamp {
     color: #9c9c9c;
     font-size: 9pt;
     font-style: italic;
  }
   #textInput {
     background-color: #111;
  }
  :where(#top_banner) {
     background: #1f1f1f;
     color: #00ff00 !important;
  }
  #settings, #emojiTrayToggle {
   filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
  }
   #loadMore {
     color: #777;
  }
  #replyBanner {
    font-size: 10pt;
  }
  .ctxMenuOption {
    background-color: #333 !important;
    color: #00ff00;
  }
  .ctxMenuOption:hover {
    background-color: #00ff00 !important;
    color: #333;
  }
  #ctxMenu {
    background-color: #111 !important;
  }
  .msgBody a {
    color: #00ff00 !important;
  } 
  #settingsMenu {
    color: #00ff00;
    background-color: #202020a3;
  }
  a {
    color: #04b7c8;
  }
  a:hover {
    color: #0393a0;
  }
  input[type=checkbox]:checked + label:after {
    color: #01a3ff;
  }
.emoji {
    height: 50px;
}
