:root {
  --notification-sfx: https://us-east-1.tixte.net/uploads/joseph.is-from.space/Mario-coin-sound.mp3;
  --primary-bg: #1a1a1a;
  --secondary-bg: #2a2a2a;
  --accent: #00ff00;
  --text-light: #e0e0e0;
  --text-muted: #aaa;
  --border-color: #333;
}

body {
  color: var(--accent);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Hide top banner */
#top_banner {
  display: none;
}

/* Chat Message Container */
.allMessages {
  border-radius: 10px;
  font-size: 10pt;
  width: calc(95% - 20px);
  padding: 10px;
  margin: 5px auto;
  position: relative;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-bg);
  transition: border-color 0.2s ease;
}

.allMessages:hover {
  border-color: var(--accent);
}

/* Image Fixes */
.msgBody img:not(.emoji) {
    height: 65px;
}

/* Sent Messages */
.sent {
  border-radius: 5px 5px 0 5px;
  background-color: #333;
  color: var(--text-muted);
}

.sent:after {
  content: "";
  background-color: inherit;
  height: 10px;
  width: 10px;
  position: absolute;
  right: -5px;
  bottom: 5px;
  transform: rotate(45deg);
  border-radius: 0 2px 0 0;
  transition: all 0.2s ease;
}

.sent:hover:after {
  right: -6px;
  bottom: 6px;
  border-right: 1px solid var(--accent);
  border-top: 1px solid var(--accent);
}

/* Received Messages */
.recieved {
  border-radius: 5px 5px 5px 0;
  background-color: #555;
  color: var(--text-light);
}

.recieved:before {
  content: "";
  background-color: inherit;
  height: 10px;
  width: 10px;
  position: absolute;
  left: -5px;
  bottom: 5px;
  transform: rotate(45deg);
  border-radius: 0 0 0 2px;
  transition: all 0.2s ease;
}

.recieved:hover:before {
  left: -6px;
  bottom: 6px;
  border-left: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
}

/* Blockquotes */
blockquote {
  background-color: #777;
  color: #111;
  border: 1px solid #000;
  padding: 5px 10px;
  margin: 10px 0;
}

/* Scrollbar */
#background {
  scrollbar-color: var(--accent) var(--primary-bg);
  scrollbar-width: thin;
}

/* Input Field */
#input {
  color: var(--text-muted);
  background: #333;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
}

#input:empty::before {
  content: "Send Message [Enter to send]";
  color: #777;
}

/* Emoji Tray */
#emojiTray {
  background-color: #333;
  padding: 10px;
  border-top: 1px solid var(--border-color);
}

#emojiTray h3 {
  color: var(--accent);
}

/* Hidden Badge */
.badge {
  display: none;
}

/* Sender Info with Badges */
.senderInfo:has(.owner)::before {
  content: " ";
  display: inline-block;
  height: 15pt;
  width: 15pt;
  background-image: url(https://files.catbox.moe/c2ru29.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-right: 3px;
}

.senderInfo:has(.mod)::before {
  content: " ";
  display: inline-block;
  height: 15pt;
  width: 15pt;
  background-image: url(https://files.catbox.moe/5kdwh0.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-right: 3px;
}

.senderInfo * {
  text-decoration: none;
}

.senderInfo {
  font-style: italic;
}

/* Timestamps */
#timestamp {
  color: #9c9c9c;
  font-size: 9pt;
  font-style: italic;
}

/* Text Input Container */
#textInput {
  background-color: var(--primary-bg);
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

/* Top Banner Override */
:where(#top_banner) {
  background: #1f1f1f;
  color: var(--accent) !important;
}

/* Settings & Emoji Tray Icons */
#settings, #emojiTrayToggle {
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

#emojiTrayToggle {
  margin-top: 12px;
}

/* Load More Button */
#loadMore {
  color: #777;
  padding: 5px 10px;
  background-color: var(--secondary-bg);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

/* Reply Banner */
#replyBanner {
  font-size: 10pt;
  padding: 5px;
  background-color: var(--secondary-bg);
}

/* Context Menu */
.ctxMenuOption {
  background-color: #333 !important;
  color: var(--accent);
  padding: 5px 10px;
}

.ctxMenuOption:hover {
  background-color: var(--accent) !important;
  color: #333;
}

#ctxMenu {
  background-color: var(--primary-bg) !important;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

/* Links in Chat */
.msgBody a {
  color: var(--accent) !important;
  text-decoration: underline;
}

/* Settings Menu */
#settingsMenu {
  color: var(--accent);
  background-color: rgba(32, 32, 32, 0.65);
  padding: 15px;
  border-radius: 10px;
}

/* Anchor Styling */
a {
  color: #04b7c8;
}

a:hover {
  color: #0393a0;
}

/* Checkbox for Settings */
input[type=checkbox]:checked + label::after {
  color: #01a3ff;
}

/* Emoji Sizing */
.allMessages.containsOnlyEmojis .emoji {
    height: 50px;
}

.emoji {
    height: 23px;
}

.emoji[title=":3ds:"], .emoji[title=":switch:"], .emoji[title=":switch2:"], .emoji[title=":wii:"], .emoji[title=":wiiu:"] {
    height: 15px !important;
}

.emoji[title=":splat2:"], .emoji[title=":splat3:"] {
    height: 20px !important;
}

/* Typing Indicator */
#is_typing {
  background-color: transparent;
}

/* Pinned Messages */
.pinned {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #444; /* Slightly different background for emphasis */
  border: 2px solid var(--accent);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 3px;
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 24px;
  transition: max-height 0.3s ease, white-space 0.3s ease;
}

.pinned::before {
  content: "📌 Pinned Post";
  margin-right: 8px;
  font-size: 1.2em;
}

.pinned:hover {
  max-height: none;
  white-space: normal;
}

.pinned:after {
    display: none;
}

/* Code Blocks */
code {
  background-color: #202020;
  padding: 2px 4px;
  border-radius: 3px;
}

/* Flairs */
.redname {
  color: #C00;
}
.orangename {
  color: #F70;
}
.yellowname {
  color: #FF0;
}
.greenname {
  color: #0C0;
}
.bluename {
  color: #33F;
}
.purplename {
  color: #F0F;
}
.rainbowname {
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rednameglow {
  color: #C00;
  animation: rednameglow 1.5s infinite alternate;
}

.orangenameglow {
  color: #F70;
  animation: orangenameglow 1.5s infinite alternate;
}

.yellownameglow {
  color: #FF0;
  animation: yellownameglow 1.5s infinite alternate;
}

.greennameglow {
  color: #0C0;
  animation: greennameglow 1.5s infinite alternate;
}

.bluenameglow {
  color: #33F;
  animation: bluenameglow 1.5s infinite alternate;
}

.purplenameglow {
  color: #F0F;
  animation: purplenameglow 1.5s infinite alternate;
}

/* Fixing the keyframes */
@-webkit-keyframes rednameglow {
  from {
    text-shadow: 0 0 5px #e60073, 0 0 10px #e60073, 0 0 15px #e60073;
  }
  to {
    text-shadow: 0 0 10px #ff4da6, 0 0 20px #ff4da6, 0 0 30px #ff4da6;
  }
}

@-webkit-keyframes orangenameglow {
  from {
    text-shadow: 0 0 5px #ff9900, 0 0 10px #ff9900, 0 0 15px #ff9900;
  }
  to {
    text-shadow: 0 0 10px #ffcc66, 0 0 20px #ffcc66, 0 0 30px #ffcc66;
  }
}

@-webkit-keyframes yellownameglow {
  from {
    text-shadow: 0 0 5px #ffeb00, 0 0 10px #ffeb00, 0 0 15px #ffeb00;
  }
  to {
    text-shadow: 0 0 10px #ffff66, 0 0 20px #ffff66, 0 0 30px #ffff66;
  }
}

@-webkit-keyframes greennameglow {
  from {
    text-shadow: 0 0 5px #00e600, 0 0 10px #00e600, 0 0 15px #00e600;
  }
  to {
    text-shadow: 0 0 10px #66ff66, 0 0 20px #66ff66, 0 0 30px #66ff66;
  }
}

@-webkit-keyframes bluenameglow {
  from {
    text-shadow: 0 0 5px #0066ff, 0 0 10px #0066ff, 0 0 15px #0066ff;
  }
  to {
    text-shadow: 0 0 10px #66a3ff, 0 0 20px #66a3ff, 0 0 30px #66a3ff;
  }
}

@-webkit-keyframes purplenameglow {
  from {
    text-shadow: 0 0 5px #9900cc, 0 0 10px #9900cc, 0 0 15px #9900cc;
  }
  to {
    text-shadow: 0 0 10px #cc66ff, 0 0 20px #cc66ff, 0 0 30px #cc66ff;
  }
}
.fox:after {
  content: " ";
  display: inline-block;
  height: 20pt;
  width: 20pt;
  background-image: url(https://files.catbox.moe/4llkfy.gif);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-left: 3px;
}
.isabelle:after {
  content: " ";
  display: inline-block;
  height: 20pt;
  width: 20pt;
  background-image: url(https://files.catbox.moe/nhcet0.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-left: 3px;
}
.shrek:after {
  content: " ";
  display: inline-block;
  height: 20pt;
  width: 20pt;
  background-image: url(https://files.catbox.moe/mhaqyo.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-left: 3px;
}
.switchlogo:after {
  content: " ";
  display: inline-block;
  height: 20pt;
  width: 20pt;
  background-image: url(https://files.catbox.moe/f0uz1y.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-left: 3px;
}
.switch2logo:after {
  content: " ";
  display: inline-block;
  height: 20pt;
  width: 20pt;
  background-image: url(https://files.catbox.moe/qg925k.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-left: 3px;
}
.officialnintendo:after {
  content: " ";
  display: inline-block;
  height: 20pt;
  width: 20pt;
  background-image: url(https://files.catbox.moe/5o7c5m.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-left: 3px;
}
.twitterverified:after {
  content: " ";
  display: inline-block;
  height: 20pt;
  width: 20pt;
  background-image: url(https://files.catbox.moe/s9uv12.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-left: 3px;
}
.allMessages:has(.redmessagebg) {
    background-color: red;
    color: #000 !important;
}
.allMessages:has(.orangemessagebg) {
    background-color: orange;
    color: #000 !important;
}
.allMessages:has(.yellowmessagebg) {
    background-color: yellow;
    color: #000 !important;
}
.allMessages:has(.greenmessagebg) {
    background-color: green;
    color: #000 !important;
}
.allMessages:has(.bluemessagebg) {
    background-color: blue;
    color: #000 !important;
}
.allMessages:has(.purplemessagebg) {
    background-color: purple;
    color: #000 !important;
}
.allMessages:has(.mariokart8){
  background-color: unset;
  background-image: url(https://files.catbox.moe/n98za3.png);
  background-size: 500px 500px;
  background-repeat: repeat;
  color: #e0e0e0 !important;
  font-family: Times, Serif;
  font-size: 15px;
  box-shadow: 1px 1px 2px #000;
}
.allMessages:has(.splatoon){
  background-color: unset;
  background-image: url(https://files.catbox.moe/zwivlh.jpg);
  background-size: 500px 500px;
  background-repeat: repeat;
  color: #e0e0e0 !important;
  font-family: Times, Serif;
  font-size: 15px;
  box-shadow: 1px 1px 2px #000;
}
.allMessages:has(.animalcrossing){
  background-color: unset;    
  background-image: url(https://files.catbox.moe/kzhjx8.jpg);
  background-size: 500px 500px;
  background-repeat: repeat;
  color: #e0e0e0 !important;
  font-family: Times, Serif;
  font-size: 15px;
  box-shadow: 1px 1px 2px #000;
}
.allMessages:has(.golden) {
  background-color: unset;
  background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  color: #000 !important;
  font-family: arial, sans-serif;
}
.allMessages:has(.upsidedown) > .msgBody {
  transform: rotate(180deg);
  direction: rtl;
}
.allMessages:has(.typewriter) > .msgBody {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid orange;
  animation: typing 3s steps(20, end), blink 0.75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}
.allMessages:has(.glitchy) > .msgBody {
  text-shadow: 1px 0 red, -1px 0 blue;
  animation: glitch 0.3s infinite;
}
@keyframes glitch {
  0% { transform: translate(0); }
  50% { transform: translate(-1px, 1px); }
  100% { transform: translate(1px, -1px); }
}
.allMessages:has(.rainbowpulse) > .msgBody {
  animation: rainbowText 5s infinite linear;
}
@keyframes rainbowText {
  0% { color: red; }
  20% { color: orange; }
  40% { color: yellow; }
  60% { color: green; }
  80% { color: blue; }
  100% { color: purple; }
}
.star:after {
  content: '⭐';
  margin-right: 0.3em;
}
.bouncingpoop:after {
  content: '💩';
  display: inline-block;
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
}

.galaxyname {
  background: linear-gradient(to right, #3a0ca3, #7209b7, #f72585, #4361ee, #4cc9f0);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: galaxymove 3s linear infinite;
}
@keyframes galaxymove {
  0% { background-position: 0% center; }
  100% { background-position: 200% center; }
}

.starlightglow {
  color: #fff;
  animation: starlight 2s ease-in-out infinite;
}
@keyframes starlight {
  0%, 100% { text-shadow: 0 0 2px #fff, 0 0 4px #f0f; }
  50% { text-shadow: 0 0 10px #fff, 0 0 20px #0ff; }
}

.allMessages:has(.vaporwavebg) {
  background-image: linear-gradient(135deg, #ff6ec4, #7873f5);
  color: #fff;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 14px;
  text-shadow: 1px 1px 2px #000;
}

.allMessages:has(.vaporwavebg):after, .allMessages:has(.holographicbg):after  {
   background-color: transparent;
}

.allMessages:has(.holographicbg) {
  background: linear-gradient(135deg, #e0c3fc 0%, #8ec5fc 100%);
  background-size: 400% 400%;
  animation: holoBG 10s ease infinite;
  color: #000;
  font-weight: bold;
}
@keyframes holoBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.allMessages:has(.fireeffect) > .msgBody {
  animation: firetext 1.5s infinite alternate;
  color: #ff4500;
  text-shadow: 0 0 5px #ff6347, 0 0 10px #ff4500;
}
@keyframes firetext {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(1.02); opacity: 0.9; }
}

.allMessages:has(.freezetext) > .msgBody {
  color: #aaf;
  text-shadow: 0 0 3px #00f, 0 0 6px #0ff;
  animation: freezeWobble 1s ease-in-out infinite;
}
@keyframes freezeWobble {
  0% { transform: scale(1); }
  50% { transform: scale(1.02) rotate(-1deg); }
  100% { transform: scale(1); }
}

.heartbeatglow {
  color: #e91e63;
  animation: heartbeat 1s infinite;
}
@keyframes heartbeat {
  0%, 100% { text-shadow: 0 0 5px #e91e63; transform: scale(1); }
  50% { text-shadow: 0 0 15px #ff80ab; transform: scale(1.05); }
}

.terminalgreen {
  color: #00ff00;
  font-family: 'Courier New', monospace;
}

.allMessages:has(.crtglitch) > .msgBody {
  color: #0ff;
  text-shadow: 2px 2px #f0f, -2px -2px #0ff;
  animation: crtshake 0.2s infinite alternate;
}
@keyframes crtshake {
  0% { transform: translate(0px, 0px); }
  100% { transform: translate(1px, -1px); }
}

.allMessages:has(.candyrainbow) > .msgBody {
  animation: candycolor 4s infinite;
}
@keyframes candycolor {
  0% { color: #ff66cc; }
  25% { color: #ffcc00; }
  50% { color: #33cc33; }
  75% { color: #66ccff; }
  100% { color: #ff66cc; }
}

.floppydisk:after {
  content: "💾";
  margin-left: 0.3em;
  animation: bounce 1s infinite;
}

.owlbadge:after {
  content: "🦉";
  margin-left: 0.3em;
}

.pizzabadge:after {
  content: '🍕';
  display: inline-block;
  animation: bounce 1s infinite;
}

.gamerbadge:after {
  content: "🕹️";
  margin-left: 0.3em;
}

/* Bundle testing */
.codybundle {
  color: #0C0;
  animation: greennameglow 1.5s infinite alternate;
}
.allMessages:has(.codybundle){
  background-color: unset;    
  background-image: url(https://files.catbox.moe/kzhjx8.jpg);
  background-size: 500px 500px;
  background-repeat: repeat;
  color: #e0e0e0;
  font-family: Times, Serif;
  font-size: 15px;
  box-shadow: 1px 1px 2px #000;
}
.allMessages:has(.codybundle) > .msgBody {
  animation: candycolor 4s infinite;
}
.codybundle:after {
  content: " ";
  display: inline-block;
  height: 20pt;
  width: 20pt;
  background-image: url(https://files.catbox.moe/nhcet0.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-left: 3px;
}

.splatoonbundle {
  background: linear-gradient(90deg,rgba(0, 17, 250, 1) 0%, rgba(255, 229, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.splatoonbundle:after {
  content: " ";
  display: inline-block;
  height: 30pt;
  width: 20pt;
  background-image: url(https://i.imgur.com/IFaW6GJ.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-left: 3px;
}
.allMessages:has(.splatoonbundle){
  background-color: unset;
  background-image: url(https://files.catbox.moe/zwivlh.jpg);
  background-size: 500px 500px;
  background-repeat: repeat;
  color: #e0e0e0;
  font-family: Times, Serif;
  font-size: 15px;
  box-shadow: 1px 1px 2px #000;
}

.gamerbundle {
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gamerflow 3s linear infinite;
}
@keyframes gamerflow {
  0% { background-position: 0% center; }
  100% { background-position: 400% center; }
}
.gamerbundle:after {
  content: "🕹️";
  margin-left: 5px;
  display: inline-block;
  -webkit-text-fill-color: initial;
  color: white;
  background: none;
  text-shadow: 0 0 3px #000;
}

.allMessages:has(.gamerbundle) {
  background: #121212;
  color: #39ff14;
  font-family: 'Courier New', monospace;
  box-shadow: 0 0 5px #39ff14;
}
.allMessages:has(.gamerbundle) > .msgBody {
  text-shadow: 1px 0 red, -1px 0 blue;
  animation: glitch 0.3s infinite;
}

.retrotechbundle {
  color: #0f0;
  font-family: 'Courier New', monospace;
  text-shadow: 0 0 2px #0f0;
}
.retrotechbundle:after {
  content: "💾";
  margin-left: 5px;
  animation: bounce 1s infinite;
  display: inline-block;
  -webkit-text-fill-color: initial;
  color: white;
  background: none;
  text-shadow: 0 0 3px #000;
}

.allMessages:has(.retrotechbundle) {
  background-color: #000;
  color: #0f0;
  font-family: 'Courier New', monospace;
  font-size: 13px;
  border: 1px solid #0f0;
}
.allMessages:has(.retrotechbundle) > .msgBody {
  animation: crtshake 0.2s infinite alternate;
}

.sugarrushbundle {
  background: linear-gradient(to right, #ff66cc, #ffcc00, #33cc33, #66ccff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: sugarspin 2s infinite linear;
}
@keyframes sugarspin {
  0% { background-position: 0%; }
  100% { background-position: 100%; }
}
.sugarrushbundle:after {
  content: "🍕";
  display: inline-block;
  animation: bounce 1s infinite;
  margin-left: 5px;
  -webkit-text-fill-color: initial;
  color: white;
  background: none;
  text-shadow: 0 0 3px #000;
}

.allMessages:has(.sugarrushbundle) {
  color: #fff;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive;
  text-shadow: 1px 1px #ff00ff;
}
.allMessages:has(.sugarrushbundle) > .msgBody {
  animation: candycolor 4s infinite;
}