.guraWave {
    background-image: url("../images/emojis/guraWave.png")
}
.ninSwitch {
    background-image: url("../images/emojis/ninSwitch.png")
}
.superMushroom {
    background-image: url("../images/emojis/superMushroom.png")
}
.umaruCola {
    background-image: url("../images/emojis/umaruCola.png")
}
.peepoNerd {
    background-image: url("../images/emojis/peepoNerd.png")
}
.coolDoge {
    background-image: url("../images/emojis/coolDoge.png")
}