.guraWave {
    background-image: url("../images/emojis/guraWave.png")
}
.ninSwitch {
    background-image: url("../images/emojis/ninSwitch.png")
}
.superMushroom {
    background-image: url("../images/emojis/superMushroom.png")
}