.guraWave {
    background-image: url("../images/emojis/guraWave.avif")
}
.ninSwitch {
    background-image: url("../images/emojis/ninSwitch.avif")
}
.superMushroom {
    background-image: url("../images/emojis/superMushroom.avif")
}
.umaruCola {
    background-image: url("../images/emojis/umaruCola.avif")
}
.peepoNerd {
    background-image: url("../images/emojis/peepoNerd.avif")
}
.coolDoge {
    background-image: url("../images/emojis/coolDoge.avif")
}
.Contact {
    background-image: url("../images/emojis/Contact.avif")
}
.ninSplat {
    background-image: url("../images/emojis/ninSplat.avif")
}
.acLuna {
    background-image: url("../images/emojis/acLuna.avif")
}
.pretendo {
    background-image: url("../images/emojis/pretendo.avif")
}
.miiverse {
    background-image: url("../images/emojis/miiverse.avif")
}
.chat {
    background-image: url("../images/emojis/chat.avif")
}
.codyBlog {
    background-image: url("../images/emojis/codyBlog.avif")
}
.Twitch {
    background-image: url("../images/emojis/Twitch.avif")
}
.YouTube {
    background-image: url("../images/emojis/YouTube.avif")
}