body {
  font-family: Roboto, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 20px;
}

select {
  background-color: #222;
  color: #fff;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#background-image {
  width: 100%;
  height: 100%;
}

a {
  color: #00C900;
}

a:hover {
  color: #008a00;
}

.emoji {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 2.0em 2.0em; /* Adjusted size */
  display: inline-block;
  height: 2.0em; /* Adjusted size */
  margin: 0 .05em 0 .1em;
  vertical-align: -1em; /* Adjusted vertical alignment */
  width: 2.0em; /* Adjusted size */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.content {
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;  /* Allow buttons to wrap on smaller screens */
}

button {
  background-color: #00C900;
  color: #000;
  border: solid #000 1px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;  /* Add margin to separate the buttons */
  flex: 1;  /* Make buttons flexible to use available space */
}

button:hover {
  background-color: #008a00;
  color: #fff;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header img {
  width: 200px; /* Adjust the width as needed */
  border-radius: 50%;
}

.cody-header-bg {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 10px; /* Add some padding for spacing */
  border-radius: 8px; /* Optional: Add rounded corners for a nice look */
  display: inline-block; /* Ensures the background only takes the space needed */
  margin-top: 10px; /* Adjust the margin as needed */
  width: fit-content; /* Adjust the width as needed */
}

.cody-header-bg {
  color: #fff; /* Set text color to white */
}

.header-text {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 10px; /* Add some padding for spacing */
  border-radius: 8px; /* Optional: Add rounded corners for a nice look */
}

.header-text h1 {
  margin: 10px 0 5px;
}

.header-text p {
  margin: 0;
  font-size: 14px;
  color: #fff; /* Set text color to white */
}

.avatar-frame {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.avatar-frame .avatar-image {
  width: 200px; /* Adjust the width as needed */
  border-radius: 50%;
}

.avatar-frame .frame-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px; /* Adjust the width as needed */
}

#preview-image {
  width: 200px;
}

/* Game Status styles */
.modal-container img {
  max-width: 100%;
}

#statusContent {
  padding: 20px;
  background-color: #111111c9;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

        #gameInfo {
            background-color: #111111c9;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
            max-width: 400px;
            margin: 0 auto 15px; /* Added margin-bottom to create space */
        }

        #splatoonInfo, #salmonRunInfo {
            background-color: #111111c9;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
            max-width: 400px;
            margin: 0 auto 15px; /* Added margin-bottom to create space */
        }

        #onlineStatusContainer {
            background-color: #111111c9;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
            max-width: 400px;
            margin: 15px auto 0; /* Added margin-top to create space */
        }

        img#gameImage {
            max-width: 50%; /* Adjust the size as needed */
            border-radius: 10px;
            margin-top: 10px;
            border: 2px solid #000;
        }

        img#avatarImage {
            width: 150px;
            height: 150px;
            border-radius: 50%; /* Circular avatar */
            margin-top: 10px;
        }
        /* Add styles for online status */
        span#onlineStatus {
            font-weight: bold;
        }

        .online {
            color: #4caf50; /* Green color for "Online" */
        }

        .offline {
            color: #ff4436; /* Red color for "Offline" */
        }

        .inactive {
            color: #FFC107; /* Amber color for "Inactive" */
        }
        span#gameName {
            font-weight: bold;
        }

        /* Add a subtle pulsating effect for fun */
        #gameInfo.special-effect {
            animation: pulse 1s infinite alternate;
        }

        @keyframes pulse {
            from {
                box-shadow: 0 0 10px rgba(76, 175, 80, 0.8);
            }
            to {
                box-shadow: 0 0 20px rgba(76, 175, 80, 0.4);
            }
        }

/* 404 Page styles */
#notfound {
  background-color: #111111c9;
  border: 2px solid #000;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

img.notfoundimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1.notfoundheading {
  text-align: center;
}

/* Credits styles */
#creditsContent {
  padding: 20px;
  background-color: #111111c9;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.credit-list {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

.credit-list li {
  margin-bottom: 10px;
}

/* About styles */
#aboutContent {
  display: block;
  padding: 20px;
  background-color: #111111c9;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
}

#aboutContent h2 {
  text-align: center;
}

#aboutContent p, h2 {
  color: #fff;
}

/* Dream Address page styles */
#DreamAddressContent {
  padding: 20px;
  background-color: #111111c9;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#DreamAddressContent p, h2 {
  color: #fff;
  margin-bottom: 10px;
}

#DreamAddressContent img {
  max-width: 100%;
  max-height: 250px;
  margin-bottom: 20px;
  border-radius: 4px;
}

/* Switch FC styles */
#friendCodeContent {
  padding: 20px;
  background-color: #111111c9;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#friendCodeContent p, h2 {
  color: #fff;
  margin-bottom: 10px;
}

#friendCodeContent b {
    font-size: 35px;
}

#friendCodeContent img {
  max-width: 100%;
  max-height: 250px;
  margin-bottom: 20px;
  border-radius: 4px;
}

#friendCodeContent b:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Nintendo Facts styles */
#NintendoFactsContent {
  padding: 20px;
  background-color: #111111c9;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#NintendoFactsContent p, h2 {
  color: #fff;
}

/* Social Media styles */
#socialMediaContent {
  padding: 20px;
  background-color: #111111c9;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#socialMediaContent p, h2 {
  color: #fff;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.social-icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Splatfest Frames page styles */
#SplatfestFramesContent {
  padding: 20px;
  background-color: #111111c9;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.preview-image {
  width: 200px;
  height: 200px;
}

#frameTypeSelection {
  padding-bottom: 10px;
}

/* Nintendo News styles */
#nintendoNewsContent {
  padding: 20px;
  background-color: #111111c9;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
}

#nintendoNewsContent h2 {
  text-align: center;
}

#nintendoNewsContent h3 {
  display: none;
}

#nintendoNewsContent h4 {
  color: #00C900;
  font-size: 24px;
  margin-bottom: 10px;
}

#nintendoNewsContent p {
  margin-bottom: 10px;
  color: #fff;
}

#nintendoNewsContent a {
  color: #00C900 !important;
}

#nintendoNewsContent a:hover {
  color: #008a00 !important;
}

/* Web Apps styles */
#OtherStuffContent {
  padding: 20px;
  background-color: #111111c9;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#OtherStuffContent p, h2 {
  color: #fff;
}

/* Sticky Header Styles */
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background: linear-gradient(90deg, rgba(17, 17, 17, 0.9) 0%, rgba(17, 17, 17, 0) 100%);
  padding: 15px;
  font-size: 20px; /* Increased font size */
  text-align: center;
  color: #ffffff;
  transition: background-color 0.3s, font-size 0.3s; /* Added font-size transition */
  border-radius: 10px; /* Added border radius for a softer look */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Added box shadow for depth */
  white-space: normal; /* Allow the text to wrap onto a new line */
}

.sticky-header:hover {
  background-color: rgba(17, 17, 17, 0.9);
}

.sticky-header .important {
  color: #00b35c;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

#close-button {
  cursor: pointer;
  float: right;
  color: #c3c3c3;
  font-weight: bold;
  padding: 0 10px;
}

#close-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

/* Responsive Sticky Header Styles */
@media (max-width: 768px) {
  .sticky-header {
    font-size: 16px; /* Adjust font size for smaller screens */
    padding: 10px; /* Adjust padding for a more compact look */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sticky-header span {
    margin-top: 5px; /* Add some margin between the lines */
  }
}

footer {
  background-color: #111111c9; /* Semi-transparent black background */
  padding: 20px; /* Added padding for a bit more space */
  font-size: medium;
  text-align: center;
  color: #fff; /* Set text color to white */
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #111111;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-open {
  overflow: hidden;
}

/* Birthday shimmer */
.shimmer {
  color: rgba(13, 129, 0, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
}

@-moz-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}
