body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 20px;
}

select {
  background-color: #222;
  color: #fff;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#background-image {
  width: 100%;
  height: 100%;
}

a {
  color: #00C900;
}

a:hover {
  color: #008a00;
}

.emoji {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 2.0em 2.0em; /* Adjusted size */
  display: inline-block;
  height: 2.0em; /* Adjusted size */
  margin: 0 .05em 0 .1em;
  vertical-align: -1em; /* Adjusted vertical alignment */
  width: 2.0em; /* Adjusted size */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.content {
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;  /* Allow buttons to wrap on smaller screens */
}

button {
  background-color: #00C900;
  color: #000;
  border: solid #000 1px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;  /* Add margin to separate the buttons */
  flex: 1;  /* Make buttons flexible to use available space */
}

button:hover {
  background-color: #008a00;
  color: #fff;
}

.tabContent {
  display: none;
}

.tabContent h2 {
  margin-top: 0;
}

.tabContent p {
  margin-bottom: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header img {
  width: 200px; /* Adjust the width as needed */
  border-radius: 50%;
}

.header-text {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 10px; /* Add some padding for spacing */
  border-radius: 8px; /* Optional: Add rounded corners for a nice look */
}

.header-text h1 {
  margin: 10px 0 5px;
}

.header-text p {
  margin: 0;
  font-size: 14px;
  color: #fff; /* Set text color to white */
}

.avatar-frame {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.avatar-frame .avatar-image {
  width: 200px; /* Adjust the width as needed */
  border-radius: 50%;
}

.avatar-frame .frame-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px; /* Adjust the width as needed */
}

#preview-image {
  width: 200px;
}

/* 404 Page styles */
#notfound {
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

img.notfoundimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1.notfoundheading {
  text-align: center;
}

/* Countdown styles */
#countdownContent {
  display: none;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#countdownContent h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#countdownContent label {
  color: #fff;
}

#countdownContent input {
  background-color: #222;
  color: #fff;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.countdown-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 2rem;
}

.countdown-timer > div {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.countdown-value {
  font-weight: bold;
  font-size: 3rem;
}

@media (max-width: 480px) {
  .countdown-timer {
    flex-direction: column; /* Stack the countdown elements vertically on smaller screens */
  }
}

.countdown-label {
  text-transform: uppercase;
  font-size: 1rem;
}

#countdownContent button[type="submit"] {
  background-color: #00C900;
  color: #000;
}

#countdownContent button[type="submit"]:hover {
  background-color: #008a00;
  color: #fff;
}

/* Credits styles */
#creditsContent {
  display: none;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.credit-list {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

.credit-list li {
  margin-bottom: 10px;
}

/* About styles */
#aboutContent {
  display: block;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
}

#aboutContent h2 {
  text-align: center;
}

#aboutContent p, h2 {
  color: #fff;
}

/* Switch FC styles */
#friendCodeContent {
  display: none;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#friendCodeContent p, h2 {
  color: #fff;
  margin-bottom: 10px;
}

#friendCodeContent img {
  max-width: 350px;
  max-height: 250px;
  margin-bottom: 20px;
  border-radius: 4px;
}

#friendCodeContent b:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* My Hero Ultra Rumble styles */
#MyHeroUltraRumbleContent {
  display: none;
  margin-top: 40px;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#MyHeroUltraRumbleContent p, h2 {
  color: #fff;
  margin-bottom: 10px;
}

#MyHeroUltraRumbleContent img {
  max-width: 100%;
  max-height: auto;
  margin-bottom: 20px;
  border-radius: 4px;
}

@media (max-width: 480px) {
#MyHeroUltraRumbleContent img {
  max-width: 100%;
  max-height: auto;
  margin-bottom: 20px;
  border-radius: 4px;
}
}

/* Social Media styles */
#socialMediaContent {
  display: none;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#socialMediaContent p, h2 {
  color: #fff;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.social-icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Character Gacha page styles */
#CharacterGachaContent {
  display: none;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.character-image {
  max-width: 300px;  /* Limit the image width to the container width */
  height: 300px;     /* Maintain the image's aspect ratio */
}

.character-info-box {
  background-color: #0d171c;
  border: 2px solid #000;
  border-radius: 8px;
}

.common-rarity {
  color: grey;
}

.uncommon-rarity {
  color: green;
}

.rare-rarity {
  color: blue;
}

.epic-rarity {
  color: purple;
}

.legendary-rarity {
  color: orange;
}

.mythic-rarity {
  color: gold;
}

.exotic-rarity {
  color: Cyan;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: lightblue;
}

/* Random Fortnite Map page styles */
#RandomFortniteMapContent {
  display: none;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.fortnite-map-image {
  max-width: 100%;  /* Limit the image width to the container width */
  height: auto;     /* Maintain the image's aspect ratio */
}

/* Splatfest Frames page styles */
#SplatfestFramesContent {
  display: none;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.preview-image {
  width: 200px;
  height: 200px;
}

#frameTypeSelection {
  padding-bottom: 10px;
}

/* Nintendo News styles */
#nintendoNewsContent {
  display: none;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
}

#nintendoNewsContent h2 {
  text-align: center;
}

#nintendoNewsContent h3 {
  display: none;
}

#nintendoNewsContent h4 {
  color: #00C900;
  font-size: 24px;
  margin-bottom: 10px;
}

#nintendoNewsContent p {
  margin-bottom: 10px;
  color: #fff;
}

#nintendoNewsContent a {
  color: #00C900 !important;
}

#nintendoNewsContent a:hover {
  color: #008a00 !important;
}

/* Most Played Games styles */
#mostPlayedGamesContent {
  display: none;
  margin-top: 40px;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#mostPlayedGamesContent h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#games-table {
  width: 100%;
  border-collapse: collapse;
}

#games-table th,
#games-table td {
  padding: 8px;
  border: 1px solid #000;
  text-align: center;
}

#games-table th {
  background-color: #00C900;
  color: #fff;
}

#games-table tr, #games-table tr:nth-child(even) {
  background-color: #222;
}

#games-table tr:hover {
  background-color: #444;
}

#games-table a {
  color: #00C900;
  text-decoration: none;
  font-weight: bold;
}

#games-table a:hover {
  color: #008a00;
  text-decoration: underline;
}

#mostPlayedGamesContent #games-table tbody tr:nth-child(1) {
  background-color: gold;
  color: #000;
}

#mostPlayedGamesContent #games-table tbody tr:nth-child(1) a {
    color: #059c05;
}

#mostPlayedGamesContent #games-table tbody tr:nth-child(1) a:hover {
  color: #017101;
}

#mostPlayedGamesContent #games-table tbody tr:nth-child(2) {
  background-color: silver;
  color: #000;
}

#mostPlayedGamesContent #games-table tbody tr:nth-child(2) a {
  color: #059c05;
}

#mostPlayedGamesContent #games-table tbody tr:nth-child(2) a:hover {
color: #017101;
}

#mostPlayedGamesContent #games-table tbody tr:nth-child(3) {
  background-color: #CD7F32; /* Bronze color */
  color: #000;
}

#mostPlayedGamesContent #games-table tbody tr:nth-child(3) a {
  color: #098009;
}

#mostPlayedGamesContent #games-table tbody tr:nth-child(3) a:hover {
color: #066d06;
}

.playtime-note {
  color: #888;
  font-size: 14px;
  margin-top: 10px;
}

.game-cover {
  max-width: 70px;
  max-height: 114px;
  margin-right: 10px;
  border-radius: 4px;
}

/* Web Apps styles */
#OtherStuffContent {
  display: none;
  padding: 20px;
  background-color: #111;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#OtherStuffContent p, h2 {
  color: #fff;
}

/* Sticky Header Styles */
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background: linear-gradient(90deg, rgba(17, 17, 17, 0.9) 0%, rgba(17, 17, 17, 0) 100%);
  padding: 15px;
  font-size: 20px; /* Increased font size */
  text-align: center;
  color: #ffffff;
  transition: background-color 0.3s, font-size 0.3s; /* Added font-size transition */
  border-radius: 10px; /* Added border radius for a softer look */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Added box shadow for depth */
  white-space: normal; /* Allow the text to wrap onto a new line */
}

.sticky-header:hover {
  background-color: rgba(17, 17, 17, 0.9);
}

.sticky-header .important {
  color: #0056b3;
  background-color: #001f44;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

#close-button {
  cursor: pointer;
  float: right;
  color: #c3c3c3;
  font-weight: bold;
  padding: 0 10px;
}

#close-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

footer {
  background-color: #111;
  padding: 10px;
  font-size: medium;
  text-align: center;
  color: #888;
}

/* Birthday shimmer */
.shimmer {
  color: rgba(13, 129, 0, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
}

@-moz-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}
