body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    background-color: #1c1c1c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

.tile {
    width: 40px;
    height: 40px;
    background-color: #444;
    border: 2px solid #888;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.correct {
    background-color: #6aaa64;
    border-color: #6aaa64;
}

.present {
    background-color: #c9b458;
    border-color: #c9b458;
}

.absent {
    background-color: #787c7e;
    border-color: #787c7e;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

.key {
    padding: 10px;
    background-color: #444;
    border: 2px solid #888;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}

#result-message {
    margin-bottom: 20px;
}

#restart-button, #instructions-button {
    padding: 10px 20px;
    background-color: #1f1f1f;
    color: #ffffff;
    border: 2px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

#restart-button:hover, #instructions-button:hover {
    background-color: #ffffff;
    color: #1f1f1f;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #1c1c1c;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center; /* Center align text */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* Instructions Content */
.instructions-content {
    text-align: center;
    margin: 10px 0;
}

.instructions-content p {
    margin: 10px 0;
    text-align: center;
}

.instructions-content p strong.green {
    color: #6aaa64;
}

.instructions-content p strong.yellow {
    color: #c9b458;
}

.instructions-content p strong.grey {
    color: #787c7e;
}
